<div class="container mt-4">
    <div class="flex-row">
        <h2 class="mb-4">Новый потребитель сервисов</h2>
        <div class="card">
            <div class="card-body">
                <%= render 'consumer_form' %>
            </div>
            <div class="card-footer">
                <%= link_to 'К списку потребителей', consumers_path,  :class => 'btn btn-sm btn-light' %>
            </div>
        </div>
    </div>
</div>