<%= form_for :owner, url: @freport_form_url, method: @freport_form_method do |f| %>
    <div class="form-group">
        <%= f.label :name, 'Название' %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div>
        <%= f.submit "Сохранить", :class => "btn btn-sm btn-success" %>
    </div>
<% end %>